<template>
  <div class="hero-content">
    <header class="site-header">
      <div class="nav-bar">
        <div class="container">
          <div class="row">
            <div class="mb-3 mb-lg-0 col-9 col-lg-3">
              <div class="site-branding">
                <h1 class="site-title"><a href="index.html" rel="home">展凡<span>科技</span></a></h1>
              </div><!-- .site-branding -->
            </div><!-- .col -->

            <div class="col-3 col-lg-9 flex justify-content-end align-content-center">
              <nav class="site-navigation flex justify-content-end align-items-center">
                <ul class="flex flex-column flex-lg-row justify-content-lg-end align-content-center">
                  <li class="current-menu-item"><a href="index.html">首頁</a></li>
                  <li><a href="#about">關於我們</a></li>
                  <li><a href="#content">教學內容</a></li>
                  <li><a href="#contact">聯繫方式</a></li>
                </ul>

                <div class="hamburger-menu d-lg-none">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                </div><!-- .hamburger-menu -->

                <div class="header-bar-cart">
                  <a href="#" class="flex justify-content-center align-items-center"><span aria-hidden="true"
                      class="icon_bag_alt"></span></a>
                </div><!-- .header-bar-search -->
              </nav><!-- .site-navigation -->
            </div><!-- .col -->
          </div><!-- .row -->
        </div><!-- .container -->
      </div><!-- .nav-bar -->
    </header><!-- .site-header -->

    <div class="hero-content-overlay">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-content-wrap flex flex-column justify-content-center align-items-start">
              <header class="entry-header">
                <h4>Get started with online courses</h4>
                <h1>best online<br>Learning system</h1>
              </header><!-- .entry-header -->

              <div class="entry-content">
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                  laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                  laudantium</p>
              </div><!-- .entry-content -->

              <footer class="entry-footer read-more">
                <a href="#">read more</a>
              </footer><!-- .entry-footer -->
            </div><!-- .hero-content-wrap -->
          </div><!-- .col -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .hero-content-hero-content-overlay -->
  </div>

  <section class="about-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="heading flex justify-content-between align-items-center">
            <h2 class="entry-title">關於我們</h2>
          </header><!-- .heading -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section>

  <section class="teach-section" id="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="heading flex justify-content-between align-items-center">
            <h2 class="entry-title">教學內容</h2>
          </header><!-- .heading -->
        </div><!-- .col -->
      </div><!-- .row -->
    </div><!-- .container -->
  </section>



  <footer class="footer" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                  <header class="heading flex justify-content-between align-items-center">
                    <h2 class="entry-title">聯繫方式</h2>
                  </header><!-- .heading -->
                </div>
            </div>
            <div class="sec s2">
                <div class="sec-item si2 st1">
                    <div class="corp-info">
                        <ul class="row list fs15">
                            <li>TEL :<a href="tel:0930555072" title="0930555072">0930555072</a>|&nbsp;&nbsp;&nbsp;ADDRESS : 台中市東區樂業南路45號 </li>
                            <li class="fs13">Copyright© 展凡科技數位股份有限公司</li>
                            <li class="fs13">許可證號 : 中市XXXX號</li>
                        </ul>
                    </div>
                </div>
                <div class="sec-item si3 row fs13">
                </div>
            </div>
        </div>
    </footer>
</template>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*--------------------------------------------------------------
# body 
--------------------------------------------------------------*/
body {
    color: #383749;
    font-size: 16px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

img {
    vertical-align: baseline;
}

/*--------------------------------------------------------------
# a 
--------------------------------------------------------------*/
a {
  color: #383749;
  width: 500;
  text-align:center;
  padding: 25px;
}

a:visited {
  color: #757686;
}

a:hover,
a:focus,
a:active {
  color: #383749;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
  list-style: none;
}

/*--------------------------------------------------------------
# Helper Utilities
--------------------------------------------------------------*/
.flex {
  display: flex !important;
}

/*--------------------------------------------------------------
# Site Header
--------------------------------------------------------------*/
.site-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

  .top-header-bar {
    background: #ffffff;
  }

/*--------------------------------------------------------------
# Nav Bar
--------------------------------------------------------------*/
.nav-bar {
  padding: 20px 0;
  background: rgba(255, 255, 255, .1);
}

/*--------------------------------------------------------------
# Site Branding
--------------------------------------------------------------*/
.site-title {
  padding: 30px 0;
  margin: 0;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  text-align: left !important;
}

.site-title a {
  color: #fff;
  text-decoration: none;
}

.site-title a span {
  color: #19c880;
}

/*--------------------------------------------------------------
  Hamburger Menu
--------------------------------------------------------------*/
.hamburger-menu {
    position: absolute;
    width: 24px;
    height: 22px;
    margin: 0 auto;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
    top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
    top: 10px;
}

.hamburger-menu span:nth-child(4) {
    top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
    transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%;
}

/*--------------------------------------------------------------
# Main Menu
--------------------------------------------------------------*/
.site-navigation ul {
    margin: 0;
    list-style: none;
    position: fixed;
    top: 0;
    left: -320px;
    z-index: 9999;
    width: 320px;
    max-width: calc(100% - 120px);
    height: 100%;
    overflow-x: scroll;
    padding: 30px 15px;
    background: rgba(0,0,0,.9);
    transition: all 0.35s;
}

.site-navigation.show ul {
    left: 0;
}

.site-navigation ul li a {
    display: block;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
}

@media screen and (min-width: 992px) {
    .site-navigation ul {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        padding: 0;
        overflow: auto;
        background: transparent;
        text-align: center
    }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
    color: #19c880;
}


@media screen and (max-width: 992px) {
  .site-header {
    background: rgba(255, 255, 255, .1);
  }

  .top-header-bar {
    background: #ffffff;
  }

  .about-section,
  .teach-section,
  .contact-section {
    width: 100%;
    padding: 30px;
    border: 1px solid #ebebeb;
    border-top: 0;
  }

  .hero-content-wrap h1 {
    font-size: 32px;
  }
}

.site-navigation ul li a:hover,
.site-navigation ul li.current-menu-item a {
  color: #19c880;
}

.hero-content {
  background: url("../../images/hero-bg.jpg") no-repeat center;
  background-size: cover;
  margin-top: -60px
}

.hero-content-overlay {
  background: rgba(21, 20, 33, .5);
}

.hero-content-wrap {
  height: 820px;
  padding-top: 130px;
}

.hero-content-wrap h4 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #19c880;
  letter-spacing: 0.1em;
}

.hero-content-wrap h1 {
  margin-top: 12px;
  font-size: 60px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.hero-content-wrap p {
  margin-top: 8px;
  color: #fff;
}

.hero-content-wrap .read-more {
  margin-top: 40px;
}

.hero-content-wrap .read-more a {
  display: block;
  padding: 12px 40px;
  border: 2px solid #19c880;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.hero-content-wrap .read-more a:hover {
  background: #19c880;
}


.header-bar-text .fa,
.header-bar-email .fa {
  margin-right: 12px;
  font-size: 20px;
  color: #19c880;
}

.fa-envelope:before {
  content: "\f0e0";
}



.about-section {
  padding: 100px 0;
  background: #f7f7f7;
}

.teach-section {
  padding: 100px 0;
  background: #fff;
}

.footer {
  padding: 100px 0;
  background: #f7f7f7;
  overflow: hidden;
  position: relative;
  font-family: "Helvetica Neue", MHei, STHeitiTC-Light, Verdana, Tahoma, Arial, "微軟正黑體修正", "微軟正黑體", "Microsoft JhengHei", MHei, sans-serif;
}

.corp-info .fs13 {
    padding-right: 10px;
}

.corp-info li {
    padding: 5px 3px;
}

ul li{
  list-style-type: none;
}

.sec{
  width: 800px;
  margin-left: 300px;
  margin-top: -70px;
}
</style>
