<template>
  <ZhanFanFrontEnd/>
</template>

<script>
import ZhanFanFrontEnd from './components/ZhanFanFrontEnd.vue';
import 'bootstrap/dist/css/bootstrap.min.css'
import 'bootstrap/dist/js/bootstrap.min.js'
import '@fortawesome/fontawesome-free/css/all.min.css';

export default {
  name: 'App',
  components: {
    ZhanFanFrontEnd
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
